<div class="container bg-light">
    <div class="row" style="min-height: 100vh">
        <div class="col-md-12 m-auto text-center">
            <h2 class="text-success m-4">{{message}}</h2>
            <h2 class="title m-4">Home Page</h2>
            <h3 class="text-info m-4">Chào mùng bạn đã đến với website</h3>
            <a href="/logout" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Đăng xuất</a>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

